{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "rules": {
        "indent": ["error", "tab"],
        "semi": [2, "always"],
        "space-before-function-paren": ["error", "always"]
    }
}